Settings/Schema/TranslationsLanguageIsoCodeToDescriptionEnUs.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TranslationLanguageIsoCodeToDescriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TranslationLanguageIsoCodeToDescription" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LanguageIsoCode" maxOccurs="1" minOccurs="1"/>
              <xs:element type="xs:string" name="LanguageDescription" maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>